{
  "source": "video", 
  "path": "test_media/session_video.mp4",
  "baseline_video": "test_media/baseline_video.mp4",
  "baseline_csv": "exports/baseline.csv",
  "export": {
    "csv": true,
    "graph": true,
    "animation": true
  },
  "export_dir": "output/",
  "dot_display": false,
  "categorize": true,
  "graph": true,
  "affine": true,
  "csv_interval": 1.0,
  "baseline": true  
}
